<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify Mail</title>
  </head>
  <body>
    <p>Reset Password.</p>
    <br />
    <a href="{{resetLink}}">Click me to reset your password</a>
  </body>
</html>