<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify Mail</title>
  </head>
  <body>
    <p>Thanks for registering.</p>
    <br />
    <a href="{{verificationLink}}">Click me to verify your account</a>
  </body>
</html>